{% include base_path %}

<article class="publication-entry" itemscope itemtype="https://schema.org/ScholarlyArticle">
  {% if post.bibtex %}
    {% assign bib_id = post.url | slugify | prepend: "bib-" %}
  {% endif %}

  <p class="publication-entry__title" itemprop="headline">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" itemprop="url">{{ post.title }}</a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink" itemprop="url">{{ post.title }}</a>
    {% endif %}
  </p>

  {% if post.authors %}
    <p class="publication-entry__authors" itemprop="author">{{ post.authors }}</p>
  {% endif %}

  <div class="publication-entry__meta">
    {% if post.venue %}<span itemprop="isPartOf">{{ post.venue }}</span>{% endif %}{% if post.date %} {{ post.date | date: "%Y" }}{% endif %}{% if post.note %}, <em>{{ post.note }}</em>{% endif %}.
  </div>

  {% if post.slidesurl or post.bibtex or post.codeurl %}
    <div class="publication-entry__actions">
      {% if post.bibtex %}<button class="publication-entry__bib" type="button" aria-controls="{{ bib_id }}" aria-expanded="false" onclick="var content = document.getElementById(this.getAttribute('aria-controls')); var expanded = this.getAttribute('aria-expanded') === 'true'; this.setAttribute('aria-expanded', String(!expanded)); content.hidden = expanded;">bib</button>{% endif %}{% if post.slidesurl %}<a class="publication-entry__slide" href="{{ post.slidesurl }}">slide</a>{% endif %}{% if post.codeurl %}<a class="publication-entry__code" href="{{ post.codeurl }}" rel="noopener">code</a>{% endif %}
    </div>
  {% endif %}

  {% if post.bibtex %}
    <div id="{{ bib_id }}" class="publication-entry__bib-content" hidden>
      <pre><code>{{ post.bibtex | escape }}</code></pre>
    </div>
  {% endif %}
</article>
